{% extends 'event_registration/main.html' %}
{% load static %}

{% block content %}
<!-- Header Starts -->
<main id="top" class="text-center vertical-space-lg" role="main">
    <div class="container">
        <!-- Startup Logo -->
        <div class="logo">
            <img src="{% static 'images/check.png' %}" alt="Check Icon">
        </div>
        <!-- Hero Title -->
    <h1 class="headline orange">Thank you! </h1>
        <!-- Message-->
        <div class="row">
            <div class="alert alert-success col-md-8 col-md-offset-2" role="alert">
                <!-- <h4 class="alert-heading">Well done!</h4> -->
                <p>Thank you for confirming your attendance! <br>You're almost done! Just one more step and you are
                    ready to do your thing!<br> To get your full ING Pay experience, click this link and download
                    the ING app</p>
                <p class="text-center"><a
                        href="https://play.google.com/store/apps/details?id=com.ing.asia.mobile&hl=en&gl=US"
                        class="btn btn-success btn-thankyou btn-lg">DOWNLOAD</a></p>
                <hr class="hr-thankyou">
                <p class="mb-0">Exclusive offer awaits during the virtual launch so don't miss it! See you,
                    virtually!</p>
            </div>
        </div>
        <img src="{% static 'images/qr_code.png' %}" alt="ING QR CODE" title="ING Download QR Code" width="200"
            height="200" />
        <!-- Sub Title -->
    </div>
</main>
{% include 'event_registration/footer.html' %}

{% endblock content %}